@inherits LayoutComponentBase
@using Twitter.Frontend.BlazorApp.Pages.Components

<div class="main-layout">
    
    <LeftSideBar/>

    <div class="main-content">
        @Body
    </div>

    <RightSidebar/>
</div>


<style>
   

    .main-layout {
        display: flex;
        
    }

    .main-content {
        flex: 1;
        
    }

</style>

