@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <!-- Left: Profile & Menu -->
        <div class="col-md-3 bg-light">
            <UserSidebar />
        </div>

        <!-- Center: Tweets Feed -->
        <div class="col-md-6">
            <TweetFeed />
        </div>

        <!-- Right: Suggestions -->
        <div class="col-md-3 bg-light">
            <RightSidebar />
        </div>
    </div>
</div>

@code {
    // Could inject state or theme handling here
}
