<!-- input -->
<div class="dark:bg-black bg-white h-14 sticky top-0 z-50 py-1">
    <div
        class="flex items-center rounded-full focus:border-sky-500 border-gray-500/40 border-2">
        <i
            class="fa-solid fa-magnifying-glass text-slate-400 text-sm py-2 px-2">
        </i>
        <input
            type="text"
            placeholder="Search"
            class="w-full py-2 pl-2 rounded-r-full bg-transparent outline-none"/>
    </div>
</div>
<!-- end of input -->