<div
    class="dark:bg-black/50 bg-white/50 backdrop-blur-[8px] flex h-14 w-full border-gray-500/50 border-b-[0.1px] border-r-[0.1px] sticky top-0 z-20"
>
    <NavLink href="/feed/for-you" class="w-1/2 h-full">
        <div
            class="flex flex-col justify-center h-full items-center hover:bg-black/10 dark:hover:bg-white/[0.09] transition ease-in-out cursor-pointer relative"
        >
            <h2 class="font-semibold">Posts</h2>
            <div class="w-14 h-1 bg-sky-600 bottom-0 absolute rounded-lg"></div>
        </div>
    </NavLink>
    
    <NavLink href="/feed/following" class="w-1/2 h-full">
        <div
            class="w-1/2 h-full flex justify-center hover:bg-black/10 dark:hover:bg-white/[0.09] transition ease-in-out cursor-pointer"
        >
            <h2 class="font-semibold text-center self-center text-gray-400">
                Replies
            </h2>
        </div>
    </NavLink>
    <NavLink href="/feed/following" class="w-1/2 h-full">
        <div
            class="w-1/2 h-full flex justify-center hover:bg-black/10 dark:hover:bg-white/[0.09] transition ease-in-out cursor-pointer"
        >
            <h2 class="font-semibold text-center self-center text-gray-400">
                Likes
            </h2>
        </div>
    </NavLink>
</div>
