@page "/user/{username}/with_like"
@using Twitter.BlazorApp.Infrastructure.Models.ViewModels
@using Twitter.BlazorApp.Infrastructure.Services.Interfaces
@using Twitter.BlazorApp.Pages.Components.User


<UserProfile User="UserProfile"></UserProfile>

<div
    class="dark:bg-black/50 bg-white/50 backdrop-blur-[8px] flex h-14 w-full border-gray-500/50 border-b-[0.1px] border-r-[0.1px] sticky top-0 z-20">
    <NavLink href="@($"/user/{username}")" class="w-1/2 h-full">
        <div
            class="flex flex-col justify-center h-full items-center hover:bg-black/10 dark:hover:bg-white/[0.09] transition ease-in-out cursor-pointer relative">
            <h2 class="font-semibold text-center self-center text-gray-400">Posts</h2>
        </div>
    </NavLink>

    <NavLink href="@($"/user/{username}/with_replies")" class="w-1/2 h-full">
        <div
            class="w-1/2 h-full flex justify-center hover:bg-black/10 dark:hover:bg-white/[0.09] transition ease-in-out cursor-pointer">
            <h2 class="font-semibold text-center self-center text-gray-400">
                Replies
            </h2>
        </div>
    </NavLink>
    <NavLink href="@($"/user/{username}/with_likes")" class="w-1/2 h-full">
        <div
            class="w-1/2 h-full flex justify-center hover:bg-black/10 dark:hover:bg-white/[0.09] transition ease-in-out cursor-pointer">
            <h2 class="font-semibold self-center">
                Likes
            </h2>
            <div class="w-14 h-1 bg-sky-600 bottom-0 absolute rounded-lg"></div>

        </div>
    </NavLink>
</div>

<!-- MID PART -->
<div class="flex flex-col w-full items-center">
    <section class="w-full  border-gray-500/40 border-r-[0.1px] border-l-[0.1px] sm:pb-0 pb-14">
        <!-- POST section -->
        <div class="flex flex-col">
            @foreach (var post in tweets)
            {
                <TweetCard tweet="post"></TweetCard>
            }
        </div>
    </section>
</div>

<!-- END OF MID PART -->

@code
{
    List<TweetViewModel> tweets = new List<TweetViewModel>();

}

@code {
    [Parameter]
    public string username { get; set; }
    
    [Inject]
    IUserService _UserService { get; set; }
    
    [Inject]
    ITweetService _TweetService { get; set; }
    

    private UserProfileViewModel UserProfile = new();

    protected override async Task OnParametersSetAsync()
    {
        tweets.Clear();

        var user = await _UserService.GetUserDetails(username);
        var userFollowers = await _UserService.GetUserFollowers(username);
        var userFollowing = await _UserService.GetUserFollowings(username);
        var dvo = await _TweetService.GetUserTweets(1, 10, userName: username);

        var tweetIds = dvo.TweetIds;
        
        if (tweetIds is null)
            tweetIds = new List<string>();

        var tweetTasks = tweetIds.Select(async id =>
        {
            var tweet = await _TweetService.GetTweet(id);
            return new TweetViewModel
            {
                Id = tweet.Id,
                Content = tweet.Content,
                MediaUrl = tweet.MediaUrl,
                LikesCount = tweet.LikeCount,
                ProfileName = tweet.UserDisplayName,
                ProfilePic = tweet.UserProfilePic,
                RepliesCount = tweet.RepliesCount,
                RetweetsCount = tweet.RetweetCount,
                Time = tweet.CreatedDate.ToString("g"),
                Username = tweet.UserUsername,
                Hashtags = tweet.Hashtags,
            };
        });

        var tweetModels = await Task.WhenAll(tweetTasks);
        tweets.AddRange(tweetModels);

        UserProfile = new UserProfileViewModel
        {
            FullName = $"{user.FirstName} {user.LastName}",
            Handle = user.Username,
            Bio = user.Bio,
            BannerImageUrl = user.ImageUrl,
            ProfileImageUrl = user.ImageUrl,
            Location = user.Location,
            BirthDate = user.CreatedDate,          // use actual birth date if available
            JoinDate = user.CreatedDate,
            FollowersCount = userFollowers.FollowersCount,
            FollowingCount = userFollowing.followingsCount,
            IsFollowing = false                  // or fetch from service
        };

        await base.OnParametersSetAsync();
    }
}